
.navbar{
  justify-content: space-between;
  align-items: center;
}
.navbaraccount{
  border:1px solid rgb(193, 189, 189);
  box-shadow: 1px 1px rgb(227, 225, 225);
  border-radius: 40px;
  padding: 4px 3px;
  background-color: white;
  color: rgb(116, 114, 114);
}
.navbaraccount:active,
.navbaraccount:hover,
.navbaraccount:focus{
  background-color: white!important;
  color: rgb(116, 114, 114)!important;
  border:1px solid rgb(193, 189, 189)!important;
}
.navbarsetting{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap:5px;
  margin-right: 0px;
  justify-content: flex-end;
}
.navbarsearch{
  display: flex;
  align-items: center;
  flex-wrap: nowrap!important;
  border:1px solid rgb(193, 189, 189);
  border-radius: 35px;
  height: 4vh;
  box-shadow: 1px 1px rgb(227, 225, 225);
}
.searchbar{
  display: flex;
  max-width: 800px;
  text-align: center;
  margin-left: 30%;
  align-items: center;
  cursor: pointer;
}
.searchbaricon{
  display: flex;
  background-color: #FF5A5F;
  color: white;
  border-radius: 50%;
  border: none;
}
.searchinfo{
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 15px;
  padding: 3% 3%;
}
.searchicon{
  border-radius: 50%;
  color: white;
  background-color: #FF5A5F;
  border:none;
  max-width: 40px;
  padding: 1% 2% 1% 2%;
}
.searchicon:hover,
.searchbaricon:hover,
.searchbaricon:focus,
.searchicon:focus,
.searchbaricon:active,
.searchicon:active,
.searchformbtn:hover,
.searchformbtn:active,
.searchformbtn:focus,
.cardbtn:hover,
.cardbtn:active,
.cardbtn:focus,
.signupbtn:hover,
.signupbtn:active,
.signupbtn:focus{
  color: white!important;
  background-color: #FF5A5F!important;
}
.navbarlogo{
  text-align: start;
}
.dropdown-toggle::after{
  display: none!important;
}
.footer{
  font-size: 14px;
  display: flex;
  width: 100%;
  position: absolute;
  bottom: 0px
}
.footer>.footercol:hover,
.footerinfo:hover{
  text-decoration: underline;
  cursor: pointer;
}
.footerdetail{
  position: absolute;
  bottom: 10px;
  font-size: 13px;
  width: 100%;
  z-index: 3;
}
.footertitle{
  margin-left: 5%;
}
.guest{
  max-width: 70px;
}
.addguest{
  display: flex;
  gap:3px
}
.personcard{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.cardpricepart{
  position: relative;
  font-size: 16px
}
.cardprice{
  position:absolute;
  bottom:55px;
  right: 0px;
  font-weight: 700;
}
.cardnigths{
  position:absolute;
  bottom:85px;
  right: 0px;
}
.cardbtn{
  position:absolute;
  bottom:0px;
  right: 0px;
  background-color: #FF5A5F;
  color: white;
  border:none;
}
.cardinfo >p{
  text-decoration: underline;
}
.daterange{
  z-index:2;
  position:absolute;
}
.navbardaterange{
  z-index: 1;
}
.searchform{
  z-index: 1;
  max-height: 30vh;
}
.searchformcol{
  max-height: 30vh;
  position: relative;
  z-index: 2!important;
}
.searchmap{
  max-height: 30vh;
  position: relative;
  z-index:1!important
}
.searchformbtn{
  background-color: #FF5A5F;
  color: white;
  border:none;
  margin-top:2%
}
.searchformpart{
  display: flex;
  flex-direction: column;
}
.signupform{
  margin-left: 20%;
  max-width: 400px;
  margin-top: 5%
}
.signupbtn{
  bottom:0px;
  right: 0px;
  background-color: #FF5A5F;
  color: white;
  border:none;
  margin-top: 2%;
}
.view{
  position: relative;
  width: 100%;
  height: 40vh;
}
.viewtitle{
  position: absolute;
  margin-left: 33%;
  z-index: 2;
  margin-top: 13%;
}
.placeicon{
  margin-left: 5%;
  cursor: pointer;
}
.home{
  max-width: 900px;
  height: 300px;
}
.homecol{
  position: relative;
}
.hometitle{
  position: absolute;
  z-index: 2;
  bottom: 65%;
  left: 35%;
  font-weight: 600;
  font-size: 20px;
  color: black;
}
.homebtn{
  position: absolute;
  z-index: 2;
  bottom: 55%;
  left: 35%;
  font-weight: 500;
  font-size: 14px;
  width: 200px;
}
.homesubtitle::before{
  content: "homes";
  animation: animate infinite 5s;
  text-decoration: underline;
}
@keyframes animate {
  
  0% {
      content: "homes";
  }

  25% {
      content: "apartments";
  }

  50% {
      content: "cottages";
  }

  75% {
    content: "villas";
}
}
.anywhere{
  max-width: 250px;
  height: 200px;
}
.anywhererow{
  align-items: flex-end;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.trend,
.discover{
  width: 100%;
}
.reservation{
  max-width: 400px;
  margin-bottom: 2%;
  margin-right: 2%;
  box-shadow: 1px 1px 1px 1px #FF5A5F;
}