

.navbar{
  justify-content: space-between;
  align-items: center;
}
.navbaraccount{
  border:1px solid rgb(193, 189, 189);
  box-shadow: 1px 1px rgb(227, 225, 225);
  border-radius: 40px;
  padding: 4px 3px;
  background-color: white;
  color: rgb(116, 114, 114);
}
.navbaraccount:active,
.navbaraccount:hover,
.navbaraccount:focus{
  background-color: white!important;
  color: rgb(116, 114, 114)!important;
  border:1px solid rgb(193, 189, 189)!important;
}
.navbarsetting{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap:5px;
  margin-right: 0px;
  justify-content: flex-end;
}
.language{
  color:rgb(116, 114, 114)
}
.settinghome{
  text-align: end;
}
.navbarsearch{
  display: flex;
  align-items: center;
  flex-wrap: nowrap!important;
  border:1px solid rgb(193, 189, 189);
  border-radius: 35px;
  height: 4vh;
  box-shadow: 1px 1px rgb(227, 225, 225);
}
.searchbar{
  display: flex;
  max-width: 600px;
  text-align: center;
  margin-left: 30%;
  align-items: center;
  cursor: pointer;
}
.searchbaricon{
  display: flex;
  background-color: #FF5A5F;
  color: white;
  border-radius: 50%;
  border: none;
}
.searchinfo{
  display: flex;
  align-items: center;
  font-size: 15px;
  padding: 3% 3%;
}
.searchicon{
  border-radius: 50%;
  color: white;
  background-color: #FF5A5F;
  border:none;
}
.searchicon:hover,
.searchbaricon:hover,
.searchbaricon:focus,
.searchicon:focus,
.searchbaricon:active,
.searchicon:active{
  color: white!important;
  background-color: #FF5A5F!important;
}
.navbarlogo{
  text-align: start;
}
.dropdown-toggle::after{
  display: none!important;
}
.footer{
  position: absolute;
  bottom: 10px;
  font-size: 14px;
  display: flex;
  width: 100%;
}
.footer>.footercol:hover,
.footerinfo:hover{
  text-decoration: underline;
  cursor: pointer;
}
.footerdetail{
  position: absolute;
  bottom: 10px;
  font-size: 13px;
  width: 100%;
}
.footertitle{
  margin-left: 5%;
}
.guest{
  max-width: 70px;
}
.addguest{
  display: flex;
  gap:3px
}